@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
	font-family: 'Poppins', sans-serif;
}

#__next {
	max-width: 500px;
	height: 100vh;
	position: relative;

	@apply mx-auto px-4 py-6 overflow-y-scroll;
}

.scrollbar-hide::-webkit-scrollbar {
	display: none;
}
